<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div>账号：<input type="text" id="account"/></div>
<div>密码：<input type="text" id="password"/></div>
<button onclick="ok()">登录</button>
</body>
<script>
    function ok() {
        var account = $("#account").val();
        var password = $("#password").val();
        console.log(account)
        $.ajax({
            type: 'POST',
            url: "/api/login",
            contentType: "application/json",
            data: JSON.stringify({
                account: account,
                password: password
            }),
            success: function (res) {
                alert(res);
            }
        });

    }
</script>
</html>